/* Desktop */

.moreInfo {
	display: none;
}

 .moreInfo.active {
    display: block;
  }

body {
  font-family: 'raleway', sans-serif;
  font-weight: 300;
  background-color: black;
}

a {
  text-decoration: none;
  color: #99FFFF;
  font-family: barrio;
  line-height: 1.7em;
}

.logo {
	font-family: 'barrio', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #FF99CC;
	padding: 10px;
	text-shadow: 1px 1px #003366;
}

h1 {
	font-size: 30px;
	/*color: #FF99CC;*/
	font-weight: bold;
	line-height: 1.7em;
}

h2 {
	font-size: 24px;
/*	color: #FFAD5C;*/
	font-weight: bold;
	line-height: 1.7em;

}

h3 {
	font-size: 18px;
/*	color: #FFFF99;*/
	line-height: 1.7em;
}

h4 {
	font-size: 16px;
/*	color: #99FFCC;*/
	line-height: 1.7em;
}

p {
	font-size: 14px;
/*	color: #FFFF99;*/
	line-height: 1.7em;
}

#cv li {
	font-size: 14px;
	line-height: 1.7em;
}

header {
	background: black;
	padding: 25px 0;
	overflow: hidden;
}

header #desktopMenu {
  float: right;
  margin-top: 15px;
  padding-right: 50px;
}

header #desktopMenu ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
  font-family: raleway;
}

nav li:hover { 
	text-decoration: underline;
}

#burger {
  display: none;
  width: 100%;
}

#mobileMenu {
  display: none;
}

#filler {
  display: none;
}

li { color: #FF99CC; }
li+li { color: #FFAD5C; }
li+li+li { color: #FFFF99; }
li+li+li+li { color: #99FFCC; }
li+li+li+li+li { color: #FF99CC; }
li+li+li+li+li+li { color: #FFAD5C; }
li+li+li+li+li+li+li { color: #FFFF99; }
li+li+li+li+li+li+li+li { color: #99FFCC;; }

#intro {
	background: black;
	text-align: center;
	color: cyan; /*#99FFFF*/
	font-size: 30px;
	text-shadow: 0.5px 0.5px #003366;
	padding-bottom: 10px;
	padding-top: 10px;
}

#displayStories {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#displayStories div {
  height: 100%;
}

#displayStories2 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#displayStories2 div {
  height: 100%;
}

footer {
	display: block;
	width: 100%;
	background-color: black;
	margin-top: 0;
	text-align: center;
	font-size: 50px;
	/*color: #99FFFF;*/
	text-shadow: 1px 1px #003366;
	margin-bottom: 0;
}

footer li {
	display: inline;
}

footer i.fa {
	padding: 10px;
}

/* Home Page */

#displayStories img {
    max-width: 250%; 
    max-height: 250%;    
    /*top: -50%;*/
    left: -50%;
   /* bottom: -50%;*/
    right: -50%;
    position: absolute;
}

#displayStories2 img {
    max-width: 250%; 
    max-height: 250%;    
    /*top: -50%;*/
    left: -50%;
   /* bottom: -50%;*/
    right: -50%;
    position: absolute;
}

#zoom {
	zoom: 2;
}

.magentatext {
	color: #FF00FF;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.yellowtext {
	color: yellow;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.cyantext {
	color: cyan;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

span {
	display: inline-block;
  	vertical-align: middle;
  	line-height: 24px;
}

.storyone {
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	overflow: hidden;
	position: relative;
	background: cyan;
}

.storyone:hover img { 
	opacity: 0.5; 
}

.storytwo {
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	overflow: hidden;
	position: relative;
	background: #FF00FF;
}

.storytwo:hover img { 
	opacity: 0.5; 
}

.storythree {
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	overflow: hidden;
	position: relative;
	background: yellow;
}

.storythree:hover img { 
	opacity: 0.5; 
}

/*CV*/

#cv {
	padding-left: 50px;
	width: 50%;
	margin-left: auto;
}

.moreInfo {
	display: inline-block;
	width: 90%;
	position: relative;
	left: -500px;
	/*margin: 0 -500px;*/
/*	margin-left: auto;*/
}

#cv a {
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*.cv li {
	list-style-type: katakana;
	list-style-position: inside;
}*/

.cv {
    counter-reset: my-counter;
}

.cv li {
	padding: 10px;
}

.cv li:before {
    content: counter(my-badass-counter, katakana);
    counter-increment: my-badass-counter;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 18px;
}

.education {
	color: #FF99CC;
}

/*.education a {
	color: #FF99CC;
}*/

.employment {
	color: #FFCC99;
}

.experience {
	color: #FFFF99;
}

.coursework {
	color: #99FFCC;
}

/*.education, .employment, .experience, .coursework {
	padding: 15px;
}*/

/*About*/

.about img {
	border-radius: 50%;
	width: 350px;
	padding: 10px;
}

.about {
	text-align: center;
	line-height: 1.7em;
}

.about span {
	text-align: center;
	width: 50%;
	line-height: 1.7em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pink {
	color: #FF99CC;
	font-size: 15px;
}

.orange {
	color: #FFCC99;
	font-size: 15px;

}

.yellow {
	color: #FFFF99;
	font-size: 15px;
}

.green {
	color: #99FFCC;
	font-size: 15px;

}

#pink {
	color: #FF99CC;
	font-family: 'barrio', sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
}

#orange {
	color: #FFCC99;
	font-family: 'barrio', sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
}

#yellow {
	color: #FFFF99;
	font-family: 'barrio', sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
}

#green {
	color: #99FFCC;
	font-family: 'barrio', sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
}

/*Portfolio*/ 

/*Portfolio*/

.portfolio {
	text-align: center;
	line-height: 1.7em;
	padding-top: 50px;
}

.portfolio span {
	text-align: center;
	width: 50%;
	line-height: 1.7em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.portfolio li a {
	font-family: 'raleway', sans-serif;
	line-height: 2.5em;
}

/*p:active {
	margin-bottom: 0px;
}*/

/*Contact Form*/

		/*html {
			height: 100%;
		}*/

body {
	display: block;
	width: 100%;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#formSection {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-drection: column;
	justify-content: center;
}

input[type="text"]{
	width: 100%;
	padding: 0.5em;
	background-color: #FF99CC;
	font-size: 1rem;
	margin-bottom: 50px;
}


input[type="email"] {
	width: 100%;
	padding: 0.5em;
	background-color: #FFCC99;
	font-size: 1rem;
	margin-bottom: 50px;
}

textarea {
	width: 100%;
	padding: 0.5em;
	background-color: #FFFF99;
	font-size: 1rem;
	margin-bottom: 50px;
}

#submitButton {
	cursor: pointer;
	text-align: center;
	color: black;
	display: block;
	padding: 1em;
	background: #99FFCC;
	width: 100%;
	padding: 10px;
	margin-bottom: 50px;
}




/* Mobile */

@media (max-width: 768px) {

  header #desktopMenu {
    display: none;
  }

  #filler {
    display: block;
    height: 40px;
    width: 100%;
  }

  #burger {
    display: block;
    float: right;
    min-height: 40px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
  }

  #burger .fa {
    font-weight: bold;
    color: #99FFFF;
    font-size: 25px;
  }

  #mobileMenu {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
  }

  #mobileMenu.active {
    max-height: 500px;
    overflow: visible;
  }

    #mobileMenu li {
   	padding-top: 10px;
    text-align: center;
    text-decoration: none;
  }

    #mobileMenu li a {
    text-decoration: none;
    /*border-bottom: 2px solid;*/
    /*former color #99FFFF */
  }

  	#displayStories {
  	display: block;
  	padding: 20px;
	}

	#displayStories div {
  	height: 100%;
  	margin: 20px;
}

  #displayStories2 {
  	display: none;
  }


  /* Home Page */

#displayStories img {
    max-width: 250%; 
    max-height: 250%;    
    /*top: -50%;*/
    left: -50%;
   /* bottom: -50%;*/
    right: -50%;
    position: absolute;
}

#displayStories2 img {
    max-width: 250%; 
    max-height: 250%;    
    /*top: -50%;*/
    left: -50%;
   /* bottom: -50%;*/
    right: -50%;
    position: absolute;
}

#zoom {
	zoom: 2;
}

.magentatext {
	color: #FF00FF;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.yellowtext {
	color: yellow;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.cyantext {
	color: cyan;
	opacity: solid;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

span {
	display: inline-block;
  	vertical-align: middle;
  	line-height: 24px;
}

.storyone {
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	overflow: hidden;
	position: relative;
	background: cyan;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.storyone img { 
	opacity: 0.5; 
	display: block;
}

.storytwo {
	display: block;
	width: 300px;
	height: 300px;
	line-height: 300px;
	overflow: hidden;
	position: relative;
	background: #FF00FF;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.storytwo img { 
	opacity: 0.5; 
	display: block;
}

#cv {
	padding: 10px;
	width: 100%;
	text-align: auto;
}

.about span {
	text-align: center;
	width: 90%;
	line-height: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*About*/

#pink {
	margin-bottom: 20px;
}

#orange {
	margin-bottom: 20px;
}

#yellow {
	margin-bottom: 20px;
}

#green {
	margin-bottom: 20px;
}

.about img {
	border-radius: 50%;
	width: 350px;
	padding: 10px;
	width: 20em;
}

/*Portfolio*/

.portfolio span {
	text-align: center;
	width: 90%;
	line-height: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Contact Form*/ 

body {
	display: block;
	width: 100%;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#formSection {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

input[type="text"]{
	width: 100%;
	padding: 0.5em;
	background-color: #FF99CC;
	font-size: 1rem;
	margin-bottom: 20px;
}


input[type="email"] {
	width: 100%;
	padding: 0.5em;
	background-color: #FFCC99;
	font-size: 1rem;
	margin-bottom: 20px;
}

textarea {
	width: 100%;
	padding: 0.5em;
	background-color: #FFFF99;
	font-size: 1rem;
	margin-bottom: 20px;
}

#submitButton {
	cursor: pointer;
	text-align: center;
	color: black;
	display: block;
	padding: 1em;
	background: #99FFCC;
	width: 100%;
	padding: 10px;
	margin-top: 5px;
}

/*CV*/

#cv {
	padding: 10px;
	width: 100%;
	margin-left: auto;
}

.moreInfo {
	display: inline-block;
	width: 90%;
	position: relative;
	left: 0;
	/*margin: 0 -500px;
/*	margin-left: auto;}*/

}

h1 {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 1.7em;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.7em;

}

h3 {
	font-size: 1.1em;
	line-height: 1.7em;
}

h4 {
	font-size: 1em;
	line-height: 1.7em;
}

p {
	font-size: 0.8em;
	line-height: 1.7em;
}

#cv li {
	font-size: 0.8em;
	line-height: 1.7em;
}


}



